@model IEnumerable<Parcial1_PrograIX.Models.Registros_empleados>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hora_registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estudiante_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hora_registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estudiante_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>

        </tr>
    }

</table>
